modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "preview"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bun run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 37403
externalPort = 5000

[[ports]]
localPort = 37845
externalPort = 4200

[[ports]]
localPort = 39717
externalPort = 3001

[[ports]]
localPort = 44201
externalPort = 3000

[[ports]]
localPort = 45727
externalPort = 5173

[[ports]]
localPort = 46241
externalPort = 3003

[[ports]]
localPort = 46519
externalPort = 3002

[userenv]

[userenv.shared]
VITE_NEWS_API_KEY = "79c1cd2c2d02ead2b907c205c1f36626"
